<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="introseHHC.Properties.Settings.hhc_dbConnectionString"
            connectionString="server=localhost;User Id=root;password=root;Persist Security Info=True;database=hhc-db"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>